<div class="container">
    <div class="row">这里放置搜索信息</div>
    <div class="row">
        <div class="col-md-2">这里放置关注用户数据等</div>
        <div class="col-md-8">
            <div>这里放置消费信息等数据</div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-responsive">
                    <thead>
                    <tr>
                        <th><input type="checkbox"/></th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>RecordTime</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2">这里放置关注家庭数据等</div>
    </div>
</div>

