<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">AccountBook Register</h2>
    </div>
    <div class="panel-body">
        <form class="form" role="form">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input type="email" class="form-control" id="loginname" placeholder="Name/Email"/>
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                <input type="password" class="form-control" id="password" placeholder="Password"/>
            </div>
            <div>
                <button ng-click="toLogin();" class="btn btn-link">I have an account</button>
            </div>
            <div class="pull-right">
                <button type="submit" class="btn btn-success">Register</button>
            </div>
        </form>
    </div>
</div>